[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
coverage = "*"
flake8 = "*"
invoke = "*"
isort = "*"
mypy = "*"
# Since pytester still use pathlib2 when Python version 3.5
pathlib2 = "*"
pipenv-setup = "*"
pylint = "*"
pytest-resource-path = {editable = true,path = "."}
radon = "*"
wheel = "*"
xenon = "*"

[packages]
# Hotfix for Pipenv's Bug @see https://github.com/pypa/pipenv/issues/4101
colorama = "*"
# The lower limit is based on the template created with Cookiecutter
pytest = ">=3.5.0"

[scripts]
build = "python setup.py sdist bdist_wheel"
