[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
invoke = "*"
flake8 = "*"
mypy = "*"
pipenv-setup = "*"
# Since pytester still use pathlib2 when Python version 3.5
pathlib2 = "*"
pylint = "*"
radon = "*"
tox = "*"
wheel = "==0.34.2"
pytest-resource-path = {editable = true,path = "."}

[packages]
# The lower limit is based on the template created with Cookiecutter
pytest = ">=3.5.0"
# Hotfix for Pipenv's Bug @see https://github.com/pypa/pipenv/issues/4101
colorama = "*"

[scripts]
test = "pytest tests"
tox = "tox"
coverage = "sh -c 'coverage run --source pytest_resource_path -m pytest && coverage report && coverage xml'"
flake8 = "flake8 --max-line-length=120 --statistics --show-source --radon-show-closures ."
cc = "radon cc --show-complexity --min B ."
mi = "radon mi --show ."
setup_sync = "pipenv-setup sync --pipfile"
check_setup = "pipenv-setup check --strict"
clear = "rm -rf pytest_resource_path.egg-info/* build/* dist/*"
build = "python setup.py sdist bdist_wheel"
